<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<form method='post' action="/search/" target="_blank">
    <input type="text" name="q">
    <input type="submit" value="查询">
</form>
<form method='get' action="/complex_search/" target="_blank">
    <input type="text" name="q">
    <input type="text" name="q_not">
    <input type="number" name="start_year">
    <input type="number" name="end_year">
    <input type="text" name="author">
    <input type="text" name="language">
    <input type="submit" value="高级查询">
</form>
{% if query %}
    <h3>搜索结果如下：</h3>
    {% for result in page.object_list %}
        <a>{{ result.object.title }} {{ result.object.authors }} {{ result.object.year }} {{ result.object.language }}</a><br/>
    {% empty %}
        <p>啥也没找到</p>
    {% endfor %}

    {% if page.has_previous or page.has_next %}
        <div>
            {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; 上一页{% if page.has_previous %}</a>{% endif %}
        |
            {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}下一页 &raquo;{% if page.has_next %}</a>{% endif %}
        </div>
    {% endif %}
{% endif %}
</body>
</html>
